<section>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    <form
        *ngIf="!(isLoading$ | async)"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
    >
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error>Please enter your email address</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error>Please enter your password</mat-error>
        </mat-form-field>
        <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="loginForm.invalid"
        >
            Submit
        </button>
    </form>
</section>
